@import "./config";

#home {
  // margin: 16vh 16vw;
  padding: max(20vh, 120px) 20vw 15vh 20vw !important;

  .name-box {
    display: flex;
    flex-direction: column;

    .titlename {
      margin-top: 3vh;
      margin-bottom: 3vh;
      position: relative;
      h1 {
        font-family: $secondfont;
        font-size: max(10vh, 62px);
      }
    }
  }

  img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
  }
}
