@import "./config";

.navigation {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  // width: 100vw;
  pointer-events: none !important;

  .menu-element {
    top: 0;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 10vh;
    min-width: 200px !important;
    border-radius: 60px;
    background-color: $primary-color !important;
    z-index: 1;
    opacity: 0;
    transition: trans(width);
    pointer-events: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    .nav-item {
      width: 100%;
      margin: 0px;
      padding: 0px;
      * {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      .navbar-brand {
        width: 100%;
      }
    }
    &:hover {
      height: 11vh;
      width: 210px !important;
      * {
        font-size: 22px;
      }
    }
  }
}
//small screen
@media only screen and (max-width: 992px) {
  .screen-nav {
    @include disabled;
  }
  .burger {
    @include enabled;
  }
  .mobile {
    @include enabled;
  }
  .grey-overlay {
    opacity: 1;
    pointer-events: all !important;
  }
}
//big screen
@media only screen and (min-width: 992px) {
  .screen-nav {
    @include enabled;
    z-index: 3 !important;
    top: 0px;
    transition: top 0.4s;
  }
  .mobile {
    @include disabled;
  }
  .burger {
    @include disabled;
  }
  .grey-overlay {
    @include disabled;
  }
  .navigation {
    position: fixed;
    margin-top: 0;
    top: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    i .menu-element {
      opacity: 1 !important;
      pointer-events: all !important;
      border-radius: 0;
    }
  }
}
.screen-nav {
  position: fixed;
  width: 90vw;
  margin: 0 5vw;
  background-color: $primary-color !important;
  padding-left: 5vw;

  border-radius: 0 0 50px 50px;

  .navbar-collapse {
    margin: 0px 18px;
    justify-content: space-around;
  }
  .nav-item {
    margin-right: 3vw;
    .nav-link {
      &:hover {
        color: rgb(208, 208, 208);
      }
    }
  }
}
.nav-link {
  color: $background-color;
}
.grey-overlay {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -3;
  pointer-events: none;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

  color: green;
}

.closed {
  display: none;
}

.burger {
  position: fixed;
  padding: 0px;
  height: burger-size("h");
  width: burger-size("w");
  z-index: 3;
  right: 40px;
  top: 40px;
  border: 0px solid;
  background-color: transparent;
  pointer-events: all;
  &:hover {
    .burgercontent {
      background: rgb(208, 208, 208);
      &::before {
        background: rgb(208, 208, 208);
      }
      &::after {
        background: rgb(208, 208, 208);
      }
    }
  }
  &content {
    content: "";
    position: absolute;
    width: burger-size("w") * 0.75;
    height: burger-size("h") * 0.1;
    top: burger-size("h") * 0.1;
    right: burger-size("h") * 0.1;
    z-index: 2;
    background: $primary-color;
    border-radius: 20px;

    &::before {
      content: "";
      position: absolute;
      width: burger-size("w") * 0.75;
      height: burger-size("h") * 0.1;
      top: burger-size("h") * 0.28125;
      right: 0px;
      background: $primary-color;
      border-radius: 20px;
    }
    &::after {
      content: "";
      position: absolute;
      width: burger-size("w") * 0.75;
      height: burger-size("h") * 0.1;
      top: burger-size("h") * 0.5625;
      right: 0px;
      background: $primary-color;
      border-radius: 20px;
    }
  }
}
