@import "./config";

#work,
#school {
  .header {
    margin-bottom: 80px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 50px;
    // border: 2px solid red;
    margin-bottom: 50px;

    .year {
      //   border: 2px solid blue;
      justify-self: end;
      text-align: right;

      grid-column: 1 / 2;
      grid-row: 1 / 2;

      color: $secondary-color;
    }
    .col {
      //   border: 2px solid blue;
      grid-column: 2 / 3;
      margin-right: 10vw;
      min-width: 100px;
      ul {
        padding: 0;
      }
    }
  }
}
