@import "./config";
@import "./nav";
@import "./home";
@import "./about";
@import "./resume";
@import "./contact";

.bg-img {
  position: fixed;
  z-index: -1;
  width: 100vw;
  min-height: 100vh;
  top: -14vh;

  animation: parallax linear;
  animation-timeline: scroll();
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  font-family: $font;
  font-size: x-large;
  color: $text-color;
  overflow-x: hidden;
  background-color: $background-color;
  // background: linear-gradient(
  //   to right,
  //   rgba($background-color, 1),
  //   rgba(black, 1)
  // );
}

a:hover {
  cursor: pointer;
}

.main {
  margin: 10vh 10vw 0vh 10vw;
  padding: 6vh 0 !important;

  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.59);
  backdrop-filter: blur(3px);
}
.header {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  // color: $primary-color;
  border-bottom: 2px solid $primary-color;
}
.primary-colored {
  color: $primary-color;
}

footer {
  // position: fixed;
  width: 100vw;
  text-align: center;
  padding: 3%;
}
@keyframes parallax {
  to {
    transform: translateY(-200px);
  }
}
.invisible {
  display: none;
}
