.navigation {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: 10vh 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: none !important;
}
.navigation .menu-element {
  top: 0;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 10vh;
  min-width: 180px !important;
  border-radius: 60px;
  background-color: rgb(33, 125, 171) !important;
  z-index: 1;
  opacity: 0;
  transition: width 1s ease-in-out;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.navigation .menu-element .nav-item {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.navigation .menu-element .nav-item * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  transition: all 0.2s ease-in-out;
}
.navigation .menu-element .nav-item .navbar-brand {
  width: 100%;
}
.navigation .menu-element:hover {
  height: 11vh;
  width: 210px !important;
}
.navigation .menu-element:hover * {
  font-size: 22px;
}

@media only screen and (max-width: 992px) {
  .screen-nav {
    opacity: 0 !important;
    pointer-events: none !important;
    z-index: -3;
  }
  .burger {
    opacity: 1 !important;
    pointer-events: all;
  }
  .mobile {
    opacity: 1 !important;
    pointer-events: all;
  }
  .language {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .screen-nav {
    opacity: 1 !important;
    pointer-events: all;
    z-index: 3 !important;
    top: 0px;
    transition: top 0.4s;
  }
  .mobile {
    opacity: 0 !important;
    pointer-events: none !important;
    z-index: -3;
  }
  .burger {
    opacity: 0 !important;
    pointer-events: none !important;
    z-index: -3;
  }
  .grey-overlay {
    opacity: 0 !important;
    pointer-events: none !important;
    z-index: -3;
  }
  .navigation {
    position: fixed;
    margin-top: 0;
    top: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  .navigation i .menu-element {
    opacity: 1 !important;
    pointer-events: all !important;
    border-radius: 0;
  }
}
.screen-nav {
  position: fixed;
  width: 90vw;
  margin: -2px 5vw;
  background-color: rgb(33, 125, 171) !important;
  padding-left: 5vw;
  border-radius: 0 0 50px 50px;
  border: 1px solid white;
}
.screen-nav .navbar-collapse {
  margin: -12px 18px;
  justify-content: space-around;
}
.screen-nav .nav-item {
  margin-right: 3vw;
  margin-bottom: 10px;
}
.screen-nav .nav-item .nav-link:hover {
  color: rgb(208, 208, 208);
}

.nav-link {
  color: #f7f9fb;
}

.grey-overlay {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
  color: green;
}

.closed {
  display: none;
}

.burger {
  position: fixed;
  padding: 10px;
  height: 50px;
  width: 50px;
  z-index: 3;
  right: 30px;
  top: 30px;
  border: 0px solid;
  background-color: transparent;
  pointer-events: all;
  background-color: rgba(255, 255, 255, 0.693);
  border-radius: 10px;
}
.burger:hover .burgercontent {
  background: rgb(139, 139, 139);
}
.burger:hover .burgercontent::before {
  background: rgb(139, 139, 139);
}
.burger:hover .burgercontent::after {
  background: rgb(139, 139, 139);
}
.burgercontent {
  content: "";
  position: absolute;
  width: 37.5px;
  height: 5px;
  top: 8.34px;
  right: 6px;
  z-index: 2;
  background: rgb(33, 125, 171);
  border-radius: 20px;
}
.burgercontent::before {
  content: "";
  position: absolute;
  width: 37.5px;
  height: 5px;
  top: 14.0625px;
  right: 0px;
  background: rgb(33, 125, 171);
  border-radius: 20px;
}
.burgercontent::after {
  content: "";
  position: absolute;
  width: 37.5px;
  height: 5px;
  top: 28.125px;
  right: 0px;
  background: rgb(33, 125, 171);
  border-radius: 20px;
}

.active {
  background-color: rgb(59, 188, 248) !important;
}

.btn {
  border: none !important;
  margin: 0 4px;
}

.language {
  padding: 3px !important;
}

#home {
  margin: 16vh 0px 0px 20vw !important;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0) !important;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
#home .name-box {
  display: flex;
  flex-direction: column;
  margin: 0px !important;
}
#home .name-box .text {
  font-size: calc(18px + 1.4vw);
}
#home .name-box .titlename {
  position: relative;
}
#home .name-box .titlename h1 {
  font-family: "Signika Negative", sans-serif;
  font-size: max(10vh, 40px + 6vw);
}
#home img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 200px;
}

#about .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 40%;
  margin: 5vh 20vw;
}
#about .about-content div {
  padding: 10px 0;
  text-align: justify;
}

#work .header,
#school .header {
  margin-bottom: 80px;
}
#work .grid-container,
#school .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-bottom: 50px;
}
#work .grid-container .year,
#school .grid-container .year {
  justify-self: end;
  text-align: right;
  grid-column: 1/2;
  grid-row: 1/2;
  color: rgb(59, 188, 248);
}
#work .grid-container .col,
#school .grid-container .col {
  grid-column: 2/3;
  margin-right: 10vw;
  min-width: 100px;
}
#work .grid-container .col ul,
#school .grid-container .col ul {
  padding: 0;
}

#contact .flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 80px;
  padding: 0 0 0 15vw;
}
#contact h2 {
  margin-bottom: 40px;
}
#contact table tr > td {
  padding-right: 30px;
}

#root {
  height: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: "Josefin Sans", sans-serif;
  font-size: x-large;
  color: #001a23;
  overflow-x: hidden;
}

a:hover {
  cursor: pointer;
}

.main {
  margin: 8vh 0 8vh 0;
  padding: 6vh 0 !important;
}
.main.light {
  background-color: white;
}
.main.light * {
  color: black;
}
.main.dark {
  background-color: rgb(33, 125, 171);
}
.main.dark * {
  color: white;
}

.header {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  border-bottom: 2px solid rgb(33, 125, 171);
}

.primary-colored {
  color: rgb(33, 125, 171) !important;
}

footer {
  width: 100vw;
  text-align: center;
  padding: 3%;
}

.invisible {
  display: none;
}

.english div {
  display: inline;
}

ul {
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */