@import "./config";
@import "./nav";
@import "./home";
@import "./about";
@import "./resume";
@import "./contact";

html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  font-family: $font;
  font-size: x-large;
  color: $text-color;
  overflow-x: hidden;
  background-color: $background-color;
  // background: linear-gradient(
  //   to right,
  //   rgba($background-color, 1),
  //   rgba(black, 1)
  // );
}

a:hover {
  cursor: pointer;
}

.main {
  width: 100vw;
  min-height: 50vh;
  height: 100%;
  // position: absolute;
  padding: 0 !important;
  padding-top: 10vh !important;
  padding-bottom: 15vh !important;
}
.header {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  // color: $primary-color;
  border-bottom: 2px solid $primary-color;
}
.primary-colored {
  color: $primary-color;
}

footer {
  // position: fixed;
  width: 100vw;
  text-align: center;
  padding: 3%;
}
