@import "./config";
@import "./nav";
@import "./home";
@import "./about";
@import "./resume";
@import "./contact";
#root {
  height: 10px;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  font-family: $font;
  font-size: x-large;
  color: $text-color;
  overflow-x: hidden;
}

a:hover {
  cursor: pointer;
}

.main {
  // margin: 10vh 10vw 0vh 10vw;
  margin: 8vh 0 8vh 0;
  padding: 6vh 0 !important;

  &.light {
    background-color: white;
    & * {
      color: black;
    }
    // animation: parallax linear;
    // animation-timeline: scroll();
  }

  &.dark {
    background-color: $primary-color;
    & * {
      color: white;
    }
    // animation: parallax linear;
    // animation-timeline: scroll();
  }
}
// footer {
//   animation: parallax linear;
//   animation-timeline: scroll();
// }
// @keyframes parallax {
//   to {
//     transform: translateY(-500px);
//   }
// }
.header {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  // color: $primary-color;
  border-bottom: 2px solid $primary-color;
}
.primary-colored {
  color: $primary-color !important;
}

footer {
  // position: fixed;
  width: 100vw;
  text-align: center;
  padding: 3%;
}
.invisible {
  display: none;
}

.english div {
  display: inline;
}
ul {
  margin-top: 20px;
}
// .navanchor {
//   display: block;
//   position: relative;
//   top: -1px; /* adjusted to suit my purposes */
//   visibility: hidden;
// }
